:root {
  --regular-font: 500;
  --medium-font: 600;
  --bold: 700;
  --box-color :#1FAB89;
  --text-color:#1C6758;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D7FBE8;
  top: 0;
  left: 0;
  right: 0;
  font-weight: var(--regular-font);
  font-size: 1.4rem;
}

.nav_bar ul {
  list-style: none;
  display: flex;
}
.register{
    padding-right: 2rem;
}
 
.box{
    gap:2rem;
    font-weight: var(--medium-font);
    font-size: 1.5rem;
    padding-left: 5rem;
}


.nav_bar ul li {
  margin: 0 1.5rem;
}
a {
  text-decoration: none;
    color: var(--text-color);
}

.login {
  /* background-color: var(--box-color); */
    background-image: radial-gradient(circle, #008969, #018161, #01795a, #007152, #00694b);
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #EEF2E6;
  transition: all 0.2s ease-in-out;
}

.signup {
    /* background-color: var(--box-color); */
     /* background-image: linear-gradient(to right top, #1fab89, #19a281, #129a79, #099171, #008969); */
     background-image: radial-gradient(circle, #008969, #018161, #01795a, #007152, #00694b);
     /* background-image: linear-gradient(to bottom, #1fab89, #1aa483, #159e7d, #109777, #099171, #068c6c, #038666, #018161, #017b5b, #017556, #006f50, #00694b); */
    color: #EEF2E6;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.login:hover{
    transform: scalex(1.1);
}
.signup:hover{
    transform: scalex(1.1);
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    height: 100vh;
    background-color: #D7FBE8;
    color: #1C6758;
}

.sm_heading{
    font-size: 1rem;
    font-weight: var(--regular-font);
    margin-bottom: 0.7rem;
    text-align: center;
}

.mm_heading{
    font-size: 2.5rem;
    font-weight: var(--bold);
    margin-bottom: 0.3rem;
    text-align: center; 
}

.lm_heading{
    font-size: 2rem;
    font-weight: var(--bold);
    margin-bottom: 1rem;
    text-align: center;
}
.tag_line{
    display: grid;
    place-items: center;
}


.btn{
    font-size: 1.5rem;
    font-weight: var(--bold);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #EEF2E6;
    margin :1.6rem 0;
    /* background-color: #285d2a; */
     background-image: linear-gradient(to right, #1fab89, #1aa483, #159e7d, #109777, #099171, #05916f, #02916c, #00916a, #00976a, #009c6a, #00a269, #00a768);
     /* background-image: linear-gradient(to right, #3d8361, #418864, #458d66, #499269, #4d976b, #4b9a6b, #4a9d6c, #48a06c, #3ea26b, #33a46a, #23a569, #00a768); */
}

.btn:hover{
    transform: scalex(1.06) scaley(1.01);
    /* background-color: #243D25; */

}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #D7FBE8; }
}
